div{
    position: relative;
    height: 60vh;
    display: inline-block;

}

#area1{
    height: 50vh;
    background-color: black;
    border:2px solid orange;
    color: white;
}

#area2{
    height: 50vh;
    /* background-color: black; */
    border:2px solid orange;
    color: red;
}
